body{
    margin: 0 auto;
    position: static;
    width: 1360px;       
}
#panel-background1{
    background-color: #344163;
    padding-bottom: 20px;
}
.panel-container{
    padding-left: 200px;
}
#panel-container-logo img{
    width: 100%;
}
#panel-container-logo{
    width:348px;
    float:left;
}
#menu-top{
    padding-top: 1%;
    padding-left: 19%;
    width: 40%;
    float: left;
}
.ui-commandlink{
    text-decoration: none;
    color: #6699ff;
    padding-left: 15px;
    font-size: 15px;
    cursor: auto;
}
.ui-menu{
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #000000;
    text-align: center;
    line-height: normal;
    width: 885px;
}
#panel-background2{
    background-color: #EFEFEF;
    padding-top: 20px;
}
#panel-refill{
    clear:both;
}
#panel-background-footer{
    background-color: #222222;
    height: 520px;
}
#panel-inner-footer{
    width: 77%;
    height: 170px;
    background-color: #4D515D;
}
#label-footer{
    color: white;
    padding-left: 20px;
}
#panel-footer-twitter{
    float:left;
    width: 292px;
    height: 260px;
    padding-top: 15px;
    padding-left: 10px;
}
#label-footer-twitter{
    color: white;
    font-size: 15px;
}
#panel-footer-contact{
    float:left;
    width: 272px;
    height: 260px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#label-footer-contact{
    color: white;
    font-size: 15px;
}
#panel-footer-location{
    float:left;
    width: 292px;
    height: 260px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#label-footer-location{
    color: white;
    font-size: 15px;
}
#twitter-widget-0{
    width: 275px !important;
    height:115% !important;
}

