/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ago-2014, 15:51:27
    Author     : gianella
*/

#panel-registroE{
   margin-left:  220px;
   background: #cccccc;
   width: 900px;
      

   
}
