<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
      
    
    <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator" id="ticketValidator">
        <constructor-arg index="0" value="https://jimmy-pc:8443/cas-server-webapp-3.5.2" />
        <property name="proxyGrantingTicketStorage" ref="proxyGrantingTicketStorage" />
        <property name="proxyCallbackUrl" value="https://jimmy-pc:8443/cas-server-webapp-3.5.2/j_spring_cas_security_proxyreceptor" />
    </bean>
    <!-- https://jimmy-pc:8443/cas-server-webapp-3.5.2/j_spring_cas_security_proxyreceptor -->
    
    <bean id="casAuthenticationFilter" class="org.jasig.cas.client.authentication.AuthenticationFilter">
        <property name="casServerLoginUrl" value="https://jimmy-pc:8443/cas-server-webapp-3.5.2/login" />
        <property name="serverName" value="https://jimmy-pc:8443"/>
    </bean>
    
    <bean id="casValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter">
        <property name="serverName" value="https://jimmy-pc:8443" />
        <property name="exceptionOnValidationFailure" value="true" />
        <property name="proxyGrantingTicketStorage" ref="proxyGrantingTicketStorage" />
        <property name="redirectAfterValidation" value="true" />
        <property name="ticketValidator" ref="ticketValidator" />
        <property name="proxyReceptorUrl" value="/j_spring_cas_security_proxyreceptor" />
    </bean>
    
    <!-- /j_spring_cas_security_proxyreceptor -->
    
    <bean id="proxyGrantingTicketStorage" class="org.jasig.cas.client.proxy.ProxyGrantingTicketStorageImpl" />
    <bean id="wrappingFilter" class="org.jasig.cas.client.util.HttpServletRequestWrapperFilter" /> 
    <bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>
    
    <sec:global-method-security pre-post-annotations="enabled" secured-annotations="enabled" />
    
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="preAuthAuthProvider"/>
    </sec:authentication-manager>
    
    <bean id="preAuthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <property name="preAuthenticatedUserDetailsService">
            <bean id="userDetailsServiceWrapper" class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <property name="userDetailsService" ref="userService"/>
            </bean>
        </property>
    </bean>
    
    <bean id="j2eePreAuthFilter" class="org.springframework.security.web.authentication.preauth.j2ee.J2eePreAuthenticatedProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationDetailsSource">
            <bean class="org.springframework.security.web.authentication.WebAuthenticationDetailsSource" />
        </property>
    </bean>
    
    <bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
        <sec:filter-chain-map path-type="ant">
            <sec:filter-chain pattern="/" filters="casValidationFilter, wrappingFilter" />
            <sec:filter-chain pattern="/j_spring_cas_security_proxyreceptor" filters="casValidationFilter" />
            <sec:filter-chain pattern="/j_spring_security_logout" filters="logoutFilter,etf,fsi" />
            <sec:filter-chain pattern="/**" filters="casAuthenticationFilter, casValidationFilter, wrappingFilter, sif,j2eePreAuthFilter,logoutFilter,singleLogoutFilter,etf,fsi"/>
        </sec:filter-chain-map>
    </bean>
    
    <bean id="sif" class="org.springframework.security.web.context.SecurityContextPersistenceFilter"/>
    
    <bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <constructor-arg value="/"/>
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>
    
    <bean id="securityContextHolderAwareRequestFilter" class="org.springframework.security.web.servletapi.SecurityContextHolderAwareRequestFilter"/>
    
    <bean id="fsi" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="httpRequestAccessDecisionManager"/>
        <property name="securityMetadataSource">
            <sec:filter-invocation-definition-source >          
                <sec:intercept-url pattern="/index.xhtml" access="ROLE_ADMIN,ROLE_EMPLOYEE,ROLE_CLIENT,ROLE_DOCTOR"/>
                <sec:intercept-url pattern="/javax.faces.resource/**" access="ROLE_ADMIN,ROLE_EMPLOYEE,ROLE_CLIENT,ROLE_DOCTOR"/>
                <sec:intercept-url pattern="/images/**" access="ROLE_ADMIN,ROLE_EMPLOYEE,ROLE_CLIENT,ROLE_DOCTOR"/>
                <sec:intercept-url pattern="/css/**" access="ROLE_ADMIN,ROLE_EMPLOYEE,ROLE_CLIENT,ROLE_DOCTOR"/>
                <sec:intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>
                <sec:intercept-url pattern="/employee/**" access="ROLE_EMPLOYEE"/>
                <sec:intercept-url pattern="/doctor/**" access="ROLE_DOCTOR"/>
                <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>
            </sec:filter-invocation-definition-source>
        </property>
    </bean>
    
    <bean id="servletContext" class="org.springframework.web.context.support.ServletContextFactoryBean"/>
    
    <bean id="etf" class="org.springframework.security.web.access.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint" ref="preAuthEntryPoint"/>
    </bean>
    
    <bean id="preAuthEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />
    
    <bean id="httpRequestAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <property name="allowIfAllAbstainDecisions" value="false"/>
        <property name="decisionVoters">
            <list>
                <ref bean="roleVoter"/>
            </list>
        </property>
    </bean>
    
    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter"/>
    
    <sec:user-service properties="WEB-INF/users.properties" id="userService"></sec:user-service>
    <!--
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
                <sec:jdbc-user-service data-source-ref="veter" authorities-by-username-query="select idusuario,rol from rol where idusuario=?"/>
        </sec:authentication-provider>
    </sec:authentication-manager>
    -->
    
</beans>